<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Sign in</title>
 		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            Invalid username and/or password.
        </div>
        <div class="alert alert-danger" role="alert" th:if="${param.logout}">
            You have been logged out.
        </div>
        <!-- log in form -->
        <form th:action="@{/login}" method="post">
        	<h1 class="h3 mb-3 font-weight-normal">Sign in as user/user</h1>
            <div><label> Username: <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div><br>
            <div><button class="btn btn-lg btn-primary" type="submit">Sign in</button></div>   
        </form>
    </body>
</html>